@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

header{
    display: flex;
    height: 200px;
    background-color: rgb(221, 233, 237);
}

h2{
    text-align: center;
}

#sec-menu{
    height: 50px;
    width: 50px;
}

#txt-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 360px;
    width: 350px;
}

.imagens{
    width: 100%;
}

#social{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
#instagram{
    background-image: url(imagens/png-transparent-instagram-logo-computer-icons-insta-logo-rectangle-sticker-circle.png);
    background-size: cover;
}
#github{
    background-image: url(imagens/png-clipart-github-repository-source-code-version-control-github-logo-monochrome.png);
    background-size: cover;
    background-position: center;
}

footer{
    display: flex;
    background-color: rgb(237, 194, 194);
    
}


p{
    text-align: center;
}

button{
    margin: 5px;
    width: 30px;
    height: 30px;
}